ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 10px;
}

li {
    list-style: none;
    min-width: 200px;
}

ul li:last-of-type {
    text-align: center;
}

.table-wrapper {
    max-width: 1260px;
    margin: auto;
}

.rowItem:nth-of-type(even) {
    background-color: #c5c5c5;
}

input {
    display: block;
}

.btn-submit {
    width: 100%;
}

.heading-item {
    display: inline-block;
    padding: 5px;
    background-color: #c5c5c5;
    margin-bottom: 1px;
    font-size: 15px;
    font-weight: 600;
    margin-right: 1px;
    min-width: 200px;
}

.heading-wrapper {
    background-color: #c5c5c5;
    display: flex;
    justify-content: space-between;
}